
#foods {
  margin: 50px;
}
.food {
  margin: 0;
  padding: 3px 5px 3px 0;
  text-transform: uppercase;
  font-size: 125%;
  float: left;
}
.food a {
  width: 200px;
  display: block;
  padding: 5px;
}
.food p {
  margin: 0;
  line-height: 1em;
}