
#foods {
  margin: 50px;
}
.food {
  margin: 0;
  padding: 3px 5px 3px 0;
  text-transform: uppercase;
  float: left;
}
.food a {
  width: 200px;
  display: block;
  padding: 3px;
}
.food p {
  margin: 0;
  line-height: 1em;
}

#search {
  float: left;
  margin: 0 20px 0 50px;
}

#filters {
  margin-top: 100px;
}