#foods {
  margin: 50px;
}
.food {
  margin: 0;
  padding: 3px;
  text-transform: uppercase;
  float: left;
  visibility: hidden;
}
.food a {
  width: 200px;
  display: block;
  padding: 3px;
  line-height: 1em;
}
.food p {
  margin: 0;
}

#search {
  float: left;
  margin: 0 20px 0 50px;
}

#legend {
  position: fixed;
  left: 100px;
  top: 100px;
  background: #efefef;
  padding: 20px;
  margin:  20px 20px 20px 0px;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}

#feedback,
.food-count {
  margin: 0 20px 0 50px;
}

#filters {
/*   margin-top: 100px; */
}
.intro {
  margin: 100px 0 10px 50px;
  
}

.modal {
  margin-top: 30px;
  top: 30px;
  margin-left:-470px; 
}

button.copy-clipboard {

}

#message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 40px;
  background-color: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  color: #fff;
  width: 20%;
  height: auto;
  z-index: 5000;
  font-size: 200%;
}
.search-string {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h3 {
  margin: 5px 0 10px 0;
}

h4, h5, h6 {
  margin: 20px 0 5px 0;
}
dd {
  margin: 3px 0 10px 0;
}


.color {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  border: solid 3px #efefef;
  padding: 20px;
  margin:  20px 20px 20px 0px;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}

.image canvas {
  padding: 5px;
  border: solid 3px #efefef;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
  width: 100%;
  height: 100%;
}
label,
.food-count,
.date p{
  text-transform: uppercase;
  font-size: 80%;
  line-height: normal;
  margin: 0 0 3px 0;
  color: #888;
}

footer {
  margin-top: 40px;
  background-color: #efefef;
  padding: 5px;
  font-size: 80%;
  line-height: normal;
  color: #888;
  height: 100px;
  position: relative;
}

input.depiction {
  width: 300px;
}

.color .modal-label,
.color span {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
  color: #ddd; text-shadow: 0.1em 0.1em 0 #666;
}

.color p {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  color: #ddd; text-shadow: 0.1em 0.1em 0 #666;
}
/* Start: Recommended Isotope styles */


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

div.dup {
  display: none;
/*
  display: inline;
  color: #fff;
  background-color: #bbb;
  font-weight: bold;
  font-size: 70%;
  text-transform: uppercase;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 0;
  top:0;

  float: right;
  text-align: center;
*/
}
a.dup:hover {

}